* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #f2f3f5;
}
.App {
  background-color: #ffffff;
  min-height: 500px;
  width: 98%;
  margin: 35px auto;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.a {
  width: 90%;
  margin: 0 auto;
}
header {
  width: 100%;
  margin: 0 auto;
}
header form {
  margin: 0;
  display: block;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
div #todo-form {
  margin: 0;
  padding: 0;
}
#todo-form input {
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 57%;
  height: 45px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis;
  color: #1d2129;
}
#todo-form input:focus {
  outline: none;
  border-color: rgba(0, 0, 255, 0.2);
}
#todo-form button {
  height: 45px;
  width: 70px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #1d2129;
}
